P {FONT-SIZE: 12pt;  FONT-FAMILY: "Verdana","sans-serif";  TEXT-ALIGN: justify;  MARGIN: 6pt 0pt;  tab-stops: 24.1pt; }

P.auf30 {FONT-SIZE: 12pt;  FONT-FAMILY: "Times New Roman","serif";  TEXT-ALIGN: justify;  MARGIN-LEFT: 0pt;  MARGIN-RIGHT: 0pt;  tab-stops: 24.1pt; }

P.tableheading11 {FONT-SIZE: 12pt;  FONT-FAMILY: "Times New Roman","serif";  TEXT-ALIGN: left;  MARGIN-LEFT: 0pt;  MARGIN-RIGHT: 0pt;  tab-stops: 24.1pt; }

P.Formatvorlage6 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana","sans-serif";  TEXT-ALIGN: justify;  MARGIN: 0pt 0pt 12pt 32.15pt;  LINE-HEIGHT: 91%;  TEXT-INDENT: -18pt;  tab-stops: 21.3pt list 32.15pt; }

P.TableHeading10 {FONT-SIZE: 8pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-WEIGHT: bold;  TEXT-ALIGN: left;  MARGIN: 3pt 3.7pt;  LINE-HEIGHT: 11pt;  tab-stops: 24.1pt; }

P.TableHeading1 {FONT-SIZE: 8pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-WEIGHT: bold;  TEXT-ALIGN: left;  MARGIN: 3pt 3.7pt;  LINE-HEIGHT: 11pt;  tab-stops: 24.1pt; }

